In [1]:
import pandas as pd
import numpy as np

In [110]:
#Config
percentile=50
interval=10

In [106]:
newdf = pd.read_csv('a1cf7b45-25ee-42a1-81e0-ceddf61de9be.csv')
round(newdf['Sample1'].quantile(percentile/100),2)

28.68

In [69]:
def frequency_group_table(df,start,end,interval):
    group=pd.cut(df.to_numpy(),bins=list(range(start,end+1,interval)),right=False).value_counts().to_frame()
    group.reset_index(level=0, inplace=True)
    group=group.rename(columns={"index": "group", 0: "frequency"})
    group['left_boundary']=group['group'].apply(lambda x: x.left)
    group['right_boundary']=group['group'].apply(lambda x: x.right)
    return group

In [43]:
def cum_freq_table(df):
    df['cum_freq'] = df['frequency'].cumsum()
    df=df[df['frequency']!=0]
    return df

In [109]:
freq=frequency_group_table(newdf['Sample1'],0,100,interval)
freq
# cum_freq=cum_freq_table(freq)

       group  frequency left_boundary right_boundary
0    [0, 10)        146             0             10
1   [10, 20)        188            10             20
2   [20, 30)         71            20             30
3   [30, 40)         39            30             40
4   [40, 50)         11            40             50
5   [50, 60)          1            50             60
6   [60, 70)          2            60             70
7   [70, 80)          0            70             80
8   [80, 90)          0            80             90
9  [90, 100)         42            90            100

In [ ]:
newdf['Sample1'].value_counts()

In [54]:
sample1=newdf['Sample1'].to_numpy()
sample1
group=pd.cut(sample1,bins=list(range(0,101,10)),right=True).value_counts().to_frame()
group.reset_index(level=0, inplace=True)
group=group.rename(columns={"index": "group", 0: "frequency"})
group

       group  frequency
0    (0, 10]        146
1   (10, 20]        188
2   (20, 30]         71
3   (30, 40]         39
4   (40, 50]         11
5   (50, 60]          1
6   (60, 70]          2
7   (70, 80]          0
8   (80, 90]          0
9  (90, 100]         42

In [63]:
group['cum_freq'] = group['frequency'].cumsum()
group['cum_freq'][-1:]
group['cum_freq'][-2:-1]
# group1=group[group['frequency']!=0]
# group1
# group1['group'].apply(lambda x: x.left)

8    458
Name: cum_freq, dtype: int64

In [19]:
def i_th_value(percentile,N):
    return (percentile*N)/100

In [107]:
value=i_th_value(percentile,group1['frequency'].sum())
value

400.0

In [92]:
points=cum_freq.to_dict('records')

{'group': Interval(20, 30, closed='left'),
 'frequency': 71,
 'left_boundary': 20,
 'right_boundary': 30,
 'cum_freq': 405}

In [91]:
if len([d for d in points if d['cum_freq'] <= value])==0:
    cff=0
else:
    cff=[d for d in points if d['cum_freq'] <= value][-1]['cum_freq']
cff

334

In [100]:
result=[d for d in points if d['cum_freq'] >= value][0]
L=result['left_boundary']
f=result['frequency']
print(L,value,cff,f,i)
round(L+((value-cff)/f)*i,2)

20 400.0 334 71 10

29.3